<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <title>Empresas</title>
</head>
<body>
<div layout:fragment="conteudo">
    <div class="row align-items-center justify-content-center vh-50">
        <div class="list-group align-middle mb-0 bg-white" th:hidden="${empresas == null || empresas.isEmpty()}">
            <table class="table table-hover table-sm text-center align-middle">
                <thead class="sticky-top">
                <tr class="table-secondary">
                    <th scope="col" class="col-3">Razão Social</th>
                    <th scope="col" class="col-2">CNPJ</th>
                    <th scope="col" class="col-3">Proprietário</th>
                    <th scope="col" class="col-2">Cidade/Estado</th>
                    <th scope="col" class="col-2"></th>
                </tr>
                </thead>
                <tbody class="table-hover" th:each="empresa : ${empresas}">
                <tr>
                    <td th:text="${empresa.empresa().razaoSocial()}"></td>
                    <td th:text="${empresa.empresa().cnpj()}"></td>
                    <td th:text="${empresa.empresa().proprietario().nome()}"></td>
                    <td th:text="${empresa.empresa().endereco().cidade()} + '/'
                + ${empresa.empresa().endereco().estado()}"></td>
                    <td>
                        <button type="button" class="btn btn-outline-primary w-75 my-1">
                            <a th:href="@{'empresas/' + ${empresa.clienteId()}}">Ver</a>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <div class="flex-column" th:hidden="${!empresas.isEmpty()}">
                <h3 class="row fs-5 py-4 justify-content-center">Não existem empresas cadastradas!</h3>
            </div>
            <div class="row justify-content-center">
                <a th:href="@{'empresas/cadastro'}" class="btn btn-success btn-lg col-8 col-md-6 col-sm-3" role="button">
                    Cadastrar Empresa
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>